on: [push, pull_request]
name: Test code
jobs:
  Test:
    strategy:
      matrix:
        go-version: ["1.25.x", "1.24.x"]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v5
    - name: Test code
      run: go test -v ./...
